html, body {
    height: 100%;
    padding: 0;
}

html {
    margin: 0;
}

body {
    margin: 0 30px;
}

h4, h6, p {
    margin-top: 0px;
    margin-bottom: 0px;
}

h6 {
    color: #1E90FF;
}

ul {
    list-style: none;
    padding-left: 0px;
}

li {
    font-size: 90%;
    border-bottom: 1px solid;
}

#ggmap {
    height: 400px;
    margin-bottom: 20px;
}

#search-field {
    margin-left: 0px;
}

.fl-left {
    float: left;
}

.bg-info {
    padding: 5px 10px;
}



.bg-info .btn {
    float: right;
}

.res-container {
    float:left;
    width: 100%;
    margin-bottom: 10px;
}
.res-img:hover {
    border: 1px solid #D3D3D3;
    cursor: pointer;
}

.res-img {
    float: left;
    text-align: center;
}

.res-img img {
    width: 100px;
    height: 100px;
    margin: 5px;
}
.res-item {
    float: left;
    padding: 5px 10px 5px 5px;
    
}

.right-res-item {
    padding-left: 50px;
}

.res-snipet-image {
    float: left;
    width: 32px;
    height: 32px;
    padding: 5px;
}

.review {
    
}

.review .res-img img {
    width: 60px;
    height: 60px;
}

.time {
    color: gray;
}

